 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Hackatón Justicia Cotidiana</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#"data-toggle="modal" data-target="#myModal">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Acerca de</h4>
      </div>
      <div class="modal-body">
       ¿Quiénes somos?
 
<p>Cuando tu familiar desaparece, apenas comienza el martirio. Al desaparecer, no está vivo ni muerto. Los desaparecidos no siempre son reconocidos como tales, simplemente están ausentes, aunque la familia lleve años sin saber de ellos. Los bienes que dejan están ahí sin poder reclamarse porque para ley los ausentes son los únicos que pueden disponer de ellos. En Coahuila, hay un camino legal y administrativo para conseguir que tu familiar sea reconocido como desaparecido y luego como muerto. Es un camino largo y accidentado, que sólo suma sufrimiento a la ya dolorosa ausencia de tu padre, tu madre o tu hijo.  

Este sitio es un esfuerzo por visibilizar las historias de los que nos faltan y de los que enfrentan ese suplicio legal y administrativo. 

Carlos Nava - Periodista
Edgar Zavala - Programador
Francisco Rodríguez - Periodista
Gibrán Mena - Periodista
Israel Piña - Periodista
Miguel Ángel Morán - Programador
Ricardo Alanís - Programador
Sandra Barrón - Diseñadora

Nota: Sitio construido con información de Carlos Nava, Francisco Rodríguez  y fuundec.org</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
