
<section id="services">
	<div class="container">
		<div class="row">
				<%= render 'form' %>
		</div>
	</div>
</section>

<%#= link_to 'Back', missings_path %>

<!-- Page Content -->


    <!-- /.container -->